{% extends 'base.html.twig' %}

{% block title %}New Buku{% endblock %}

{% block body %}
    <h1>Create new Buku</h1>

    {{ include('buku/_form.html.twig') }}

    <a href="{{ path('buku_index') }}">back to list</a>
{% endblock %}
