<form method="post" action="{{ path('kategori_delete', {'id': kategori.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ kategori.id) }}">
    <button class="btn">Delete</button>
</form>
