{% extends 'base.html.twig' %}

{% block title %}New Kategori{% endblock %}

{% block body %}
    <h1>Create new Kategori</h1>

    {{ include('kategori/_form.html.twig') }}

    <a href="{{ path('kategori_index') }}">back to list</a>
{% endblock %}
