    <div class="error-box-2 mt-70 mb-50">
      <div class="clip-text background-center" style="background-image: url(http://via.placeholder.com/432x290);">
        <h2>404</h2>
        <h3>Error</h3>
      </div> 
      <h4>We're sorry, but the page you were looking for<br>doesn't exist.</h4>
      <div class="mt-20 mb-20">
      </div>
      {{ dump() }}
    </div>